* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #262A2B;
    color: #ffffff;
    font-family: "Roboto";
    overflow-x: hidden;
}


/* ==========================================
    HEADER
========================================== */

.header {
position: sticky;
top: 0;
height: 65px;
background-color: #3f4448;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
z-index: 100;
}

.menu {
border: none;
background-color: transparent;
font-size: 1.8em;
color: #ffffff;
cursor: pointer;
}

.logotipo {
color: #ffffff;
font-size: 24px;
font-family: "Orbitron";
font-weight: 700;
}

.logotipo--GG {
color: #e2e800;
}
.link{
    text-decoration: none;
    
}

.header__nav {
display: flex;
align-items: center;
gap: 20px;
}

.header__link {
display: none;
color: #ffffff;
text-decoration: none;
font-size: 14px;
}

.avatar__link {
display: flex;
}

.avatar {
width: 38px;
height: 38px;
background-color: #e2e800;
border-radius: 50%;
}



/* ==========================================
    MAIN
========================================== */


.main-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 10px;
}
.title{
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Orbitron";
    text-align: center;
  
    
}
.admin{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    flex-direction:column;

}
.admin-card{
    background-color: #444444;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
}
.admin-card__link{
    text-decoration: none;
    color: #E2E800;
    margin-top: 10px;
}






/* ==========================================
    TABLET
    768px o superior
========================================== */

@media screen and (min-width: 768px) {


}


/* ==========================================
    PC
    1024px o superior
========================================== */

@media screen and (min-width: 1024px) {

    /* Header */

    .header {
        height: 80px;
        padding: 0 40px;
    }


    .header__link {
        font-size: 14px;
    }


    /* Main */

    .main-content {
        max-width: 850px;
        padding: 40px 20px;
    }


    .title {
        font-size: 32px;
    }


    /* Tarjetas */

    .support-link {
        width: 220px;
        margin: 0 10px 20px;
    }


    .support-card {
        padding: 25px 15px;
    }


    .support-card__icono {
        width: 36px;
        height: 36px;
    }


    .support-card .text {
        font-size: 14px;
    }


    /* Bug */

    .form-textarea {
        height: 140px;
    }

}