*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #2b2e30;
color: #ffffff;
font-family: "Roboto";
min-height: 100vh;
display: flex;
flex-direction: column;
overflow-x: hidden;
}


/* ==========================================
MAIN
========================================== */

.main-content {
width: 100%;
padding: 20px 15px;
flex: 1;
}

.page-title {
font-size: 28px;
font-weight: 400;
color: #ffffff;
margin-bottom: 20px;
}

/* ==========================================
BUSCADOR
========================================== */

.search-box {
width: 100%;
display: flex;
align-items: center;
background-color: #1f2122;
border-radius: 8px;
padding: 8px 12px;
margin-bottom: 24px;
}

.search-icon {
color: #e2e800;
font-size: 20px;
margin-right: 10px;
}

.search-input {
width: 100%;
height: 30px;
background-color: transparent;
border: none;
outline: none;
color: #ffffff;
font-family: "Roboto";
font-size: 14px;
}

.search-input::placeholder {
color: #a0a0a0;
}

/* ==========================================
REGISTROS DE AUDITORÍA
========================================== */

.audit-container {
display: flex;
flex-direction: column;
gap: 16px;
}

.audit-card {
background-color: #404447;
border-radius: 12px;
padding: 16px;
display: flex;
flex-direction: column;
gap: 18px;
}

.audit-card__header {
display: flex;
flex-direction: column;
gap: 4px;
}

.audit-card__username {
font-size: 15px;
font-weight: 700;
color: #e0e0e0;
}

.audit-card__id {
font-size: 13px;
color: #a0a0a0;
}

.audit-card__content {
display: flex;
flex-direction: column;
gap: 5px;
color: #ffffff;
font-size: 14px;
}

.audit-card__date {
color: #a0a0a0;
font-size: 12px;
}

/* ==========================================
TABLET
========================================== */

@media screen and (min-width: 768px) {

.main-content {
    padding: 30px;
}

.page-title {
    font-size: 34px;
    margin-bottom: 25px;
}

.search-box {
    padding: 10px 15px;
    margin-bottom: 30px;
}

.search-input {
    height: 34px;
    font-size: 15px;
}

.audit-container {
    gap: 20px;
}

.audit-card {
    padding: 22px;
    gap: 20px;
}

.audit-card__username {
    font-size: 17px;
}

.audit-card__id {
    font-size: 14px;
}

.audit-card__content {
    font-size: 15px;
}

.audit-card__date {
    font-size: 13px;
}


}

/* ==========================================
PC
========================================== */

@media screen and (min-width: 1024px) {


.main-content {
    padding: 40px 50px;
}

.page-title {
    font-size: 38px;
    margin-bottom: 30px;
}

.search-box {
    padding: 12px 18px;
    margin-bottom: 35px;
}

.search-input {
    height: 36px;
    font-size: 16px;
}

.search-icon {
    font-size: 22px;
}

.audit-container {
    gap: 25px;
}

.audit-card {
    padding: 28px;
    gap: 22px;
}

.audit-card__username {
    font-size: 19px;
}

.audit-card__id {
    font-size: 15px;
}

.audit-card__content {
    font-size: 16px;
}

.audit-card__date {
    font-size: 14px;
}

}